body {
	background-color:#fff;
	positon:relative;
	font-family: Calibri;
}

#contentwrapper {
	position:absolute;
	width:100%;
	height: 80%;
}

#content {
	width: 100%;
	size:11px !important;
	color:#444 !important;
} 

#sidebar {
	width: 165px;
	height: 100%;
	background: #9bd9e0;
	margin-right: 10px;
	padding: 2px;
	float:left;
}

#sideBarCat {
	padding-left: 19px;
}

#header {
	width: 100%;
	background: #34abba;
	font-size: 50px;
	color: #fff;
	height: 150px;
	padding: 10px;
}

#logo{
	position: relative;
	float: left;
}

#infobar {
	position: relative;
	clear: both;
	text-align: center;
	bottom: 5px;
	background: #34abba;
	color: #fff;
	width:99%;
	padding:10px;
}

h1 {
	size: 20px;
	color: 34abba;
	text-transform: small caps;
}

a {
	color: #fff;
}

a:hover {
	color: #226d77;
}