{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- About
{% endblock %}

{% block content %}
	<h1>About</h1>
	<p>Ferreted Away is a site made for student, by students. It's like StudentVoice meets GumTree, but better.
	On Ferreted Away you can buy and sell anything, and it's completely free to join.
	<p>First made in 2017 by a group of stressed and exhausted students, Ferreted Away fought and 
	clawed its way into existence over the course of several horrific weeks.
	<p><b>Meet the Team:</b>
	</br>
	<i>Kerry Johnstone</i>: reluctant database master who would rather be doing Java right now.
	</br>
	<i>Thekla Kenneison</i>: CSS wizard and keeper of the HTML files.
	</br>
	<i>Domenico Restuccia</i>: if you need a django view, he's your guy!
	</br>
	<i>Piotrus Watson</i>: view master, database pro, and guardian of the GitHub repo.
	
{% endblock %}
