<!DOCTYPE html>
{% load staticfiles %}
{% load ferreted_away_template_tags %}

<html>
<head>
	<title>
		Ferreted Away
		{% block title_block %}
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="H:\WAD\ferrets\ferrets\Templates\ferrets\style.css">
</head>
<body>
	<div id="header">
		<div id="logo"><img src="FerretedAwayLogo.png" alt="logo" height="130px"/></div> 
		<div class="headerText">erreted Away</div>
	</div>
	<div id="contentwrapper">
		<div id="sidebar">
			<p>This is the sidebar.
			<ul>
				<li>Home</li>
				<li>Categories</li>
				<ul><li>1</li><li>2</li></ul>
			</ul>
		</div>
		
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		
		<div id="infobar">
			<a href="{% url 'about' %}">About</a> | 
			<a href="{% url 'contact' %}">Contact</a> | 
			<a href="{% url 'sitemap' %}">Site Map </a>| 
			<a href="{% url 'faq' %}">FAQ</a>
		</div>
	</div>
</body>
</html>
	