<!DOCTYPE html>
{% load ferreted_away_template_tags %}
{% load staticfiles %}

<html>
<head>
	<title>
		Ferreted Away
	{% block title_block %}	
	{% endblock %}
	</title>
	
	
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<meta name="google-site-verification" content="TM0Yoi_oYX7ZiuK0EGKnWhyOfMt7Dmq08im661S8nRo" />
	<script src="/static/js/search.js"></script>
	
	
</head>
<body>
	<div id="header">
		<div id="logo">
			<a href="{% url 'home' %}">
			<img class="logo" src="{% static 'images/FerretedAwayLogo.png' %}" alt="logo" height="130px"/>
			</a>
		</div> 
		<div class="headerText">erreted Away</div>
		
		
		<div id="searchbar">
		<gcse:searchbox-only resultsUrl="{% url 'searchresults' %}"></gcse:searchbox-only>
		</div>
		
			{% if user.is_authenticated %}
			<div id="topbutton">
				<a href="{% url 'logout' %}">Log Out</a>
			</div>
			<div id="bottombutton">
				<a href="{% url 'myAccount' %}">Account</a>
			</div>
			{% else %}
			<div id="topbutton">
				<a href="{% url 'login' %}" id="logbutton">Log In</a>
			</div>
			<div id="bottombutton">
				<a href="{% url 'addAccount' %}" id="regbutton">Register</a>
			</div>
			{% endif %}
		</div>
		
	</div>
	<div id="contentwrapper">
		<div id="sidebar">
			<a href="{% url 'home' %}">Home</a>
			<hr>
			{% if user.is_authenticated %}
				<a href="{% url 'myAccount' %}">Account</a>
				<hr>
			{% endif %}
			
			<a href="{% url 'categories' %}">Categories</a>
				{% get_category_list categories %}
			<hr>
				<a href="{% url 'browsePrice' %}">Browse by Price</a>
		</div>
		
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		
		<div id="infobar">
			<a href="{% url 'about' %}">About</a> | 
			<a href="{% url 'contact' %}">Contact</a> | 
			<a href="{% url 'sitemap' %}">Site Map </a> | 
			<a href="{% url 'faq' %}">FAQ</a>
			<br /><small>This website uses cookies, by continuing to use this website you consent to cookies being used.</small>
		</div>
		
	</div>
</body>
</html>
	