{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- Contact Us
{% endblock %}

{% block content %}
	<h1>Contact Us</h1>
	<h3>Email Us: </h3>
	<p><a href="mailto:ferretedawayteam@gmail.com" class="itemlink">ferretedawayteam@gmail.com</a></p>
	</br>
	<h3>Tweet Us: </h3>
	<a href="https://twitter.com/messages/compose?recipient_id=844165863108460544" class="twitter-dm-button" data-screen-name="@ferreted_away" 
	data-show-count="false">Message @@ferreted_away</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
