{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- FAQs
{% endblock %}

{% block content %}

	<h1>Frequently Asked Questions</h1>

	<h3>Why did you create this site?</h3>
	<p>
		Honestly? We're not too sure ourselves. It was probably a terrible mistake.
		We were essentially forced to create a site as a group project for our Web Applications course.
		Believe it or not, this was the best idea we could come up with. Sorry.
	</p>

	<h3>Who is this site aimed at</h3>
	<p>
		This site was intially aimed at Glasgow University students, as this site is based on Student Voice.
		As Student Voice comprises part of My Glasgow, Glasgow Universty students are liekly to be familir with the site format.
		Seeing students selling goods on Studen Voice, whch just wasn't built for that purpose, made us very sad.
		So we had to help make their lives easier by givng them a custom built student sales platform.
	</p>

	<h3>How do I get involved in developing this site?</h3>
	<p>
		We are not currently seeking new developers. This site was created purely as part of a University project.
		Should be choose to develeop the site further in a post-uni future we will of couse need more developers,
		so please do keep checking back.
	</p>

	<h3>How do I delete my account?</h3>
	<p>
		Firstyl, we're very sorry that you've not had the optimal Ferreted Away experience, and are sorry to see you go.
		To request account deletion please email totallynotfakeaddress@veryrealemailprovider.com
	</p>
{% endblock %}