{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
		- Home
{% endblock %}
	
{% block content %}
<div id="content">
	<h1>Welcome to Ferreted Away 
	{% if user.is_authenticated %}
		<i>{{ user.username }}</i>
	{% endif %}!</h1>
<p>Ferreted Away is a site made for student, by students. It's like StudentVoice meets GumTree, but better.
On Ferreted Away you can buy and sell anything, and it's completely free to join.
</div>

<div id = "items">
	<h2> CURRENT TRENDING ITEMS </h2>
		{% for item in items %}
		<a href="{% url 'showItem' item.itemId %}">
			<img class = "cropandreduce" src = "{{ item.picture.url }}" alt = "{{ item.item_name }}" width = 200px height = 200px\>
		</a>
		{% endfor %}
</div>


{% if user.is_authenticated %}
	<h2> YOUR WATCHLIST </h2>
	<div id = "watchlist">
	{% if watched %}
		{% for item in watched %}
		<a href="{% url 'showItem' item.itemId %}">
				<img class="cropandreduce" src = "{% if item.picture %}{{ item.picture.url }} {% else %}{% static 'images/placeholder.png' %} {% endif %}" alt = "{{ item.item_name }}" width="200px" height="200px"\>
		</a>
		{% endfor %}
	</div>
	{% else %}
	<p>You don't have any items in your watchlist.
	{% endif %}
	
{% endif %}
{% endblock %}
