{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
		- Home
{% endblock %}
	
{% block content %}
<div id="content">
<h1>Welcome to Ferreted Away!</h1>
<p>Ferreted Away is a site made for student, by students. It's like StudentVoice meets GumTree, but better.
On Ferreted Away you can buy and sell anything, and it's completely free to join.
This is the page content
</div>
<div id = "items">
<h2> CURRENT TRENDING ITEMS </h2>
{% for item in items %}
	<img src = "{{ item.picture.url }}" alt = "{{ item.item_name }}" \>
{% endfor %}
</div>
{% if user.is_authenticated %}
	<div id = "watchlist">
	{% for item in watchlist %}
	<li id = "image"> <img src = "{{ item.picture.url }}" alt = "{{ item.item_name }}" \>
	{% endfor %}
	</div>
{% endif %}
{% endblock %}
