{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- Your Account
{% endblock %}
	
{% block content %}
	<h2>Hello, {{user.username}}!</h2>
	<h3>My Watchlist</h3> 
	
	{% if watchlist %}
		{% for item in watchlist %}
		<div class = "items">
			<a href="{% url 'showItem' item.itemId %}">
				<img src = "{% if item.picture %}{{ item.picture.url }} {% else %}{% static 'images/placeholder.png' %} {% endif %}" alt = "{{ item.item_name }}" width="200px" height="200px"\>
			</a>
            <p>
            <a class="itemlink" href="{% url 'showItem' item.itemId %}">{{item.item_name}}</a> £{{ item.price}}
            </p>
            <p>
            	<a href="{% url 'removeWatchlist' item.itemId %}" class="itemlink">Remove From Watchlist</a>
            </p>
		</div>
		{% endfor %}
    {% else %}
        <h5>You don't have any items in your watchlist!</h5>
    {% endif %}
{% endblock %}