{% extends 'ferrets/base.html' %}
{% load staticfiles %}
{% block title_block %}
    - Browse by Price
{% endblock %}

{% block content %}
    {% if min_val == 0.00}
        <h1>Under £20</h1>
    {% elseif max_val == 9999999999999999999.99 %}
        <h1>Over £500</h1>
    {% else %}
        <h1>{{ min_val }} to {{ max_val }}</h1>
    {% endif %}
    {% if items %}
		
		<div id = "items">
			{% for item in items %}
                {% if item.price >= min_val and item.price <= max_val %}
				    <img src = "{{ item.picture.url }}" alt = "{{ item.item_name }}" width="200px"\>
                {% endif %}
			{% endfor %}
        {% else %}
            <strong>There are no items currently in this price range.</strong>
        {% endif %}
    {% else %}
        There are no items to show!
    {% endif %}
{% endblock %}