{% extends 'ferrets/base.html' %}
{% load staticfiles %}
{% block title_block %}
    - {{ category.name }}
{% endblock %}

{% block content %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if items %}
		
		<div id = "items">
			{% for item in items %}
			<a href="{% url 'showItem' item.itemId %}">
				<img src = "{% if item.picture %}{{ item.picture.url }} {% else %}{% static 'images/placeholder.png' %} {% endif %}" alt = "{{ item.item_name }}" width="200px" height="200px"\>
			</a>
            {{ item.item_name }}
            </br>
            £{{ item.price }}
			{% endfor %}
        {% else %}
            <strong>No items currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}