{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- ShowItem
{% endblock %}

{% block content %}
	<h1>{{item.item_name}} - £{{item.price}}</h1>
	<div id="leftmost">
		<img src = "{% if item.picture %}{{ item.picture.url }} {% else %} {% static 'images/placeholder.png' %} {% endif %}" alt = "{{ item.item_name }}" width="200px" id="itempic"\>
		<br />
		<br />
		<img src="{{sellUser.picture}}" width="80px" height="80px" alt="seller's icon">
		Sold by <b>{{ sellUser.user.username }}</b>
	</div>
	
	<div id="rightmost">
	{{item.description}}
	</div>
	
	
{% endblock %}