{% extends 'ferrets/base.html' %}
{% load staticfiles %}

{% block title_block %}
	- ShowItem
{% endblock %}

{% block content %}
	<h1>{{item.item_name}} - £{{item.price}}</h1>
	<div id="leftmost">
		<img src = "{% if item.picture %}{{ item.picture.url }} {% else %} {% static 'images/placeholder.png' %} {% endif %}" alt = "{{ item.item_name }}" width="240px" id="itempic"\>
		<br />
		<br />
		<img src="{{sellUser.picture}}" width="80px" height="80px" alt="seller's icon">
		Sold by <b>{{ sellUser.user.username }}</b>
		<p>
		{% if seller %}
			<a href="{% url 'deleteItem' item.itemId %}" class="itemlink">Delete Item</a>
		{% endif %}
		
		{% if logged %}
			{% if inWatchlist %}
			<a href="{% url 'removeWatchlist' item.itemId %}" class="itemlink">Remove From Watchlist</a>
			{% else %}
			<a href="{% url 'addWatchlist' item.itemId %}" class="itemlink">Add To Watchlist</a>
			{% endif %}
		{% endif %}
	</div>
	
	<div id="rightmost">
	{{item.description}}
	</div>
	
{% endblock %}