{% extends 'ferrets/base.html' %}
{% load staticfiles %}
{% block title_block %}
    - {{ category.name }}
{% endblock %}

{% block content %}
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if items %}
		
			{% for item in items %}
            <div class = "items">
			<a href="{% url 'showItem' item.itemId %}">
				<img src = "{{ item.picture.url }}" alt = "{{ item.item_name }}" width="200px" height="200px"\>
			</a>
            <br />
            <span style="display:block;text-overflow: ellipsis;width: 200px;overflow: hidden; white-space: nowrap;">
			<a class="itemlink" href="{% url 'showItem' item.itemId %}">{{item.item_name}}</a> £{{ item.price}}
            <br />
			<br />
			</span>
            </div>
			
			{% endfor %}
        
        {% else %}
            <strong>No items currently in category.</strong>
        {% endif %}
    {% else %}
        The specified category does not exist!
    {% endif %}
{% endblock %}